*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
/.idea/dictionaries
/.idea/misc
/.idea/assetWizardSettings
/.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild
